
<h1>Minesweeper</h1>

<div class="container" data-controller="minesweeper">
  <% 9.times do  %>
    <div class="p-1">
      <%@column = 0%>
      <% 9.times do  %>
        <i id="<%="#{@row}#{@column}"%>" class="fa-regular fa-square-full fa-3x boxes" data-action="click->minesweeper#clicked"></i>
        <%@column += 1%>
      <% end %>
    </div>
    <%@row += 1%>
  <% end %>
  <%=link_to 'reload', root_path ,class:"btn btn-outline-primary mt-5" %>
</div>
